<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <header
    class="bg-[#002e72] text-white shadow-md p-4 flex items-center justify-between px-6"
  >
    <div class="flex items-center gap-3">
      <img
        src="https://yt3.googleusercontent.com/a-vQUwKdA5h60lTOwk5IPaLRizy74DrCCnc7V7OMvxCUXLw0V5Ma4Ak60LjQKF2ic_Ejadht=s900-c-k-c0x00ffffff-no-rj"
        alt="Zoppy"
        class="h-auto w-14 rounded-full object-cover"
      />
      <h1 class="text-xl sm:text-2xl font-semibold">Sistema de Clientes</h1>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
